{% extends ':base:base.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block body %}
<div id="page-body">
<div id="main">
	<h2 class="imgrep error404">An error occured</h2>
	<h3>Oopsies&hellip; what you have requested is gone!</h3>
	<p>I&rsquo;m only a computer server and can only give you what I&rsquo;ve got. I&rsquo;ve searched and search and searched, yet there was no document of this name. So as they say&hellip; &ldquo;this page is an ex-parrot&rdquo;, perhaps you should use the <a href="/search/">search</a>?</p>
</div>
</div>
{% endblock %}
