<!--<dl class="extra-box rocket orange">
	<dt><a href="{{ about_launch }}">phpBB 3.1 Ascraeus has landed!</a></dt>
	<dd><a href="{{ about_launch }}">We've just released phpBB 3.1 - <br />Take a look at what's new.</a></dd>
</dl>-->