web/bundles/*
web/uploads/*
web/assets
app/bootstrap*
app/cache/*
app/logs/*
app/updates/*
app/sessions/*
vendor/*
app/config/parameters.yml
app/config/parameters.ini
bin/*
app/SymfonyRequirements.php
!vendor/.htaccess
!app/cache/.gitkeep
*Thumbs.db*
