<form action="http://www.njobs.eu/search/" method="post">
	<table id="n-jobs" cellspacing="0" cellpadding="0">
		<tr>
			<td style="height:52px; width:128px; padding:7px 0px 0px 5px; margin:none; border:0">
				<a href="http://www.njobs.eu/" style="margin:none;padding:none;cursor:hand"><img src="/files/images/ads/njobs/logo_njobs.jpg" alt="njobs" /></a>
			</td>
			<td style="font-weight:bold; text-align:left; font-size:11px; font-family:Tahoma,Arial,Helvetica,sans-serif; width:150px; color:#333">What:<br /><input style="border:#15A1A1 solid 1px; width:140px" type="text" name="what" value="phpbb" /></td>
			<td style="font-weight:bold; text-align:left; font-size:11px; font-family:Tahoma,Arial,Helvetica,sans-serif; color:#333; padding-left:10px">Where:<br /><input style="border:#15A1A1 solid 1px; width:140px" type="text" name="where" value="" /></td>
			<td style="font-weight:bold; text-align:left; font-size:11px; font-family:Tahoma,Arial,Helvetica,sans-serif; color:#333; padding-left:10px">Country:<br />
				<select style="border:#15A1A1 solid 1px; width:145px" name="country">
					<option value="fr">France</option>
					<option value="de">Germany</option>
					<option value="it">Italy</option>
					<option value="nl">The Netherlands</option>
					<option value="es">Spain</option><option value="uk" selected="selected">United Kingdom</option>
				</select>
			</td>
			<td style="padding-top:12px; padding-left:10px"><input type="submit" value='' style="background:url('/files/images/ads/njobs/btn_search_uk.jpg') no-repeat; width:110px; height:41px; border:0px;"  /></td>
		</tr>
		<tr>
			<td colspan="5">
				<div style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:13px; width:722px; padding-left:6px; border: none;">
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.nl/vacatures-phpbb.html" style="text-decoration:none;color:#999"><img src="/files/images/ads/njobs/nl.jpg" alt="vacatures phpbb" /> vacatures phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.de/jobs-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/de.jpg" alt="arbeit phpbb" /> arbeit phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.co.uk/phpbb-jobs.htm" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/uk.jpg" alt="work phpbb" /> jobs phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.n-jobs.it/lavoro-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/it.jpg" alt="Lavoro phpbb" /> lavoro phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.fr/emploi-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/fr.jpg" alt="Emploi phpbb" /> emploi phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.es/trabajo-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/es.jpg" alt="trabajo phpbb" /> trabajo phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.njobs.co.in/jobs-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/in.jpg" alt="jobs phpbb" /> jobs phpbb</a></div>
					<div style="text-align:center; float:left; padding:0px 5px"><a href="http://www.n-jobs.at/jobs-phpbb.html" style="text-decoration:none;color:#999"><img src="/images/ads/njobs/at.jpg" alt="arbeit phpbb" /> arbeit phpbb</a></div>
				</div>
			</td>
		</tr>
	</table>
</form>
