<div id="page-footer">
		<span class="fcorners-bottom"><span></span></span>
	</div>
</div>

{% block copyright %}
<div id="copyright">
	2012 <a href="/about/">phpBB Limited</a>
	&bull; <a href="/about/contact_us.php">Contact Us</a>
	&bull; <a href="/about/advertise/">Advertise on www.phpbb.com</a>
	<br />
	Header illustrations by <a href="http://www.vladstudio.com/">Vlad Gerasimov</a>
	&bull; Designed by <a href="/">phpBB</a>
	&bull; Hosting donated by <a href="http://www.osuosl.org">OSUOSL</a><br />
	{% if app.debug %}
		<p>Request method: {{ app.request.method }}</p>
		<p>Application Environment: {{ app.environment }}</p>
	{% endif %}
</div>
{% endblock %}

{% block javascript %}
{% javascripts
    '@phpBBWebsiteInterfaceBundle/Resources/public/js/*' %}

	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

</body>
</html>
