.sub-menu {
	background: #99a1a8 url("/assets/images/images/bg_submenu.gif") repeat-x;
	padding: 10px 10px 10px 6px;
	width: 368px;

}
#navbar .sub-menu-bottom  {
	width: auto;
	position: static;
	background: #99a1a8;
	height: auto;
	margin: 0;
	padding: 0 10px;
}
#navbar .sub-menu-bottom a {
	width: auto;
}

#navbar .sub-menu li {
	border: none;
}
