/* phpbb.com Website Style Sheet
--------------------------------------------------------------
Copyright 2007 phpBB Group ( http://www.phpbb.com/ )
--------------------------------------------------------------
*/
/* Image replacement titles */
h2.imgrep {
	height: 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 3px 0 10px 0;
	font-size: 1em;
	border-bottom: none;
	font-size: 0em;
	color: #FFFFFF;
	text-indent: -9999px;
}
h2.lib {
	height: 129px;
}

h2.welcome {
	background-image: url("/assets/images/titles/welcome.gif");
	height: 43px;
}
h2.about {
	background-image: url("/assets/images/titles/about.gif");
}
h2.advertise-contact {
	background-image: url("/assets/images/titles/advertise.gif");
}
h2.contact {
	background-image: url("/assets/images/titles/contact.png");
}
h2.history {
	background-image: url("/assets/images/titles/history.gif");
}
h2.map {
	background-image: url("/assets/images/titles/map.gif");
}
h2.team {
	background-image: url("/assets/images/titles/team.gif");
}
h2.features {
	background-image: url("/assets/images/titles/features.gif");
}
h2.compare {
	background-image: url("/assets/images/titles/compare.gif");
}
h2.downloads {
	background-image: url("/assets/images/titles/downloads.gif");
}
h2.support {
	background-image: url("/assets/images/titles/support.gif");
}
h2.customise {
	background-image: url("/assets/images/titles/customise.gif");
}
h2.customisation-database {
	background-image: url("/assets/images/titles/customisation_database.gif");
}
h2.community {
	background-image: url("/assets/images/titles/community.gif");
}
h2.mods {
	background-image: url("/assets/images/titles/modifications.gif");
}
h2.styles {
	background-image: url("/assets/images/titles/styles.gif");
}
h2.intl {
	background-image: url("/assets/images/titles/intl.gif");
}
h2.bugs {
	background-image: url("/assets/images/titles/bugs.gif");
}
h2.security {
	background-image: url("/assets/images/titles/security.gif");
}
h2.incidents {
	background-image: url("/assets/images/titles/incidents.gif");
}
h2.irc {
	background-image: url("/assets/images/titles/irc.gif");
}
h2.documentation {
	background-image: url("/assets/images/titles/documentation.gif");
}
h2.development {
	background-image: url("/assets/images/titles/development.gif");
}
h2.get-involved {
	background-image: url("/assets/images/titles/get_involved.gif");
}
h2.languages {
	background-image: url("/assets/images/titles/languages.gif");
}
h2.faq {
	background-image: url("/assets/images/titles/faq.gif");
}
h2.tutorials {
	background-image: url("/assets/images/titles/tutorials.gif");
}
h2.search {
	background-image: url("/assets/images/titles/search.gif");
}
h2.modx {
	background-image: url("/assets/images/titles/modx.gif");
}
h2.modsfaq {
	background-image: url("/assets/images/titles/modsfaq.gif");
}
h2.modxcomparison {
	background-image: url("/assets/images/titles/modxcomparison.gif");
}
h2.modxcreator {
	background-image: url("/assets/images/titles/modx_creator.gif");
}
h2.modxgenerator {
    background-image: url('/assets/images/titles/modx_generator.gif');
}

h2.modsdb {
	background-image: url("/assets/images/titles/moddb.gif");
}
h2.modsqueue {
	background-image: url("/assets/images/titles/modqueue.gif");
}
h2.modsmy {
	background-image: url("/assets/images/titles/modsmy.gif");
}
h2.mod_rules {
	background-image: url("/assets/images/titles/modifications_rules.png");
}
h2.mod_development_rules {
	background-image: url("/assets/images/titles/mod_development_rules.png");
}
h2.mod_database_rules {
	background-image: url("/assets/images/titles/mod_database_rules.png");
}
h2.mod_validation_checklist {
	background-image: url("/assets/images/titles/mod_validation_checklist.png");
}
h2.mod_umil {
	background-image: url("/assets/images/titles/mod_umil.png");
}
h2.mod_umif {
	background-image: url("/assets/images/titles/umif_creation.png");
}
h2.mod_automod {
	background-image: url("/assets/images/titles/automod.gif");
}
h2.pastebin {
	background-image: url("/assets/images/titles/pastebin.gif");
}
h2.press_page {
	background-image: url("/assets/images/titles/press_page.gif");
}
h2.showcase {
	background-image: url("/assets/images/titles/showcase.gif");
}
h2.stylesdb {
	background-image: url("/assets/images/titles/styledb.gif");
}
h2.stylesqueue {
	background-image: url("/assets/images/titles/stylequeue.gif");
}
h2.stylesmy {
	background-image: url("/assets/images/titles/stylesmy.gif");
}
h2.stylesfaq {
	background-image: url("/assets/images/titles/stylesfaq.gif");
}
h2.validation-statistics {
	background-image: url("/assets/images/titles/validation_statistics.gif");
}
h2.kb {
	background-image: url("/assets/images/titles/kb.gif");
}
h2.changelog {
	background-image: url("/assets/images/titles/changelog.gif");
}
h2.designing_prosilver {
	background-image: url("/assets/images/titles/designing_prosilver.gif");
	height: 48px;
}
h2.phpbbjobsboard {
	background-image: url("/assets/images/titles/phpbbjobsboard.gif");
	height: 42px;
}
h2.shop {
	background-image: url("/assets/images/titles/shop.gif");
}
h2.hosting {
	background-image: url("/assets/images/titles/hosting.gif");
}
h2.hosting_suggested {
	background-image: url("/assets/images/titles/hosting.png");
}
h2.error401 {
	background-image: url("/assets/images/titles/error401.gif");
}
h2.error403 {
	background-image: url("/assets/images/titles/error403.gif");
}
h2.error404 {
	background-image: url("/assets/images/titles/error404.gif");
}
h2.error412 {
	background-image: url("/assets/images/titles/error412.gif");
}
h2.error500 {
	background-image: url("/assets/images/titles/error500.gif");
}
h2.londonvasion {
	background-image: url("/assets/images/titles/londonvasion.gif");
}
h2.libertyvasion {
	background-image: url("/assets/images/titles/libertyvasion_blue.png");
}
/* Old Libertyvasion Title */
/* h2.libertyvasion {
	background-image: url("/assets/images/titles/libertyvasion.png");
}*/
h2.blog-title {
	background-image: url("/assets/images/titles/blog.png");
}
h2.meetinglogs {
	background-image: url("/assets/images/titles/meetinglogs.gif");
}
h2.srt {
	background-image: url("/assets/images/titles/srt_generator.gif");
}
h2.stk {
	background-image: url("/assets/images/titles/stk.gif");
}
h2.kb-beta {
	background-image: url("/assets/images/titles/kb_beta.gif");
}
h2.antispam {
	background-image: url("/assets/images/titles/blocked.png");
}
h2.codechanges {
	background-image:  url("/assets/images/titles/code_changes.gif");
}
h2.officiallogos {
	background-image: url("/assets/images/titles/officiallogos.png");
}
