<dl class="extra-box hourglass light-green">
	<dt><a href="{{ about_launch }}">phpBB 3.1 Ascraeus</a></dt>
	<dd><a href="{{ about_launch }}">The next major version of phpBB<br/> is coming soon! Take a look at what's new.</a></dd>
</dl>
