<div class="mini-panel panel-emphasis">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h3>Project External Links</h3>

	<ul class="menu">
		<li class="first"><a href="http://www.ohloh.net/projects/phpbb">Projects page @ ohloh.net</a></li>
		<li><a href="http://www.sourceforge.net/projects/phpbb">Projects page @ sourceforge.net</a></li>
		<li class="last"><strong><a href="http://www.ohloh.net/stack_entries/new?project_id=phpbb&amp;ref=sample">I use phpBB</a></strong> (ohloh)</li>
	</ul>

	<span class="corners-bottom"><span></span></span></div>
</div>
