{% if not bot %}
	<script type="text/javascript">
	// <![CDATA[

	function checkform()
	{
		var subscribeform = document.getElementById('subscribeform');

		for (var i = 0; i < fieldstocheck.length; i++)
		{
			if (eval("subscribeform.elements['" + fieldstocheck[i] + "'].value") == "")
			{
				alert('Please enter your ' + fieldnames[i]);
				eval("subscribeform.elements['" + fieldstocheck[i] + "'].focus()");
				return false;
			}
		}

		return true;
	}

	var fieldstocheck = new Array();
	var fieldnames = new Array();

	function addFieldToCheck(value, name)
	{
		fieldstocheck[fieldstocheck.length] = value;
		fieldnames[fieldnames.length] = name;
	}

	function compareEmail()
	{
		var subscribeform = document.getElementById('subscribeform');
		return (subscribeform.elements["email"].value == subscribeform.elements["emailconfirm"].value);
	}

	// ]]>
	</script>

	{#<form id="subscribeform" method="post" action="{LISTS_SUBSCRIBE}">
		<div class="mini-panel subscribe">
			<div class="inner">
			<h3>Release Notification</h3>
			<fieldset class="fields1">
				<div>
					<input type="text" maxlength="50" value="" name="email" />
					<script type="text/javascript">
					// <![CDATA[
						addFieldToCheck("email", "Email");
					// ]]>
					</script>

					<input type="submit" class="button2" onclick="return checkform();" value="Subscribe" name="subscribe" />
				</div>
			</fieldset>
			<p>To receive information on new releases of phpBB as they become available you are advised to subscribe to our mailing list.</p>
			<p><a href="http://lists.phpbb.com/mailman/listinfo/phpbb-announce">To the phpbb-announce mailing list.</a></p>
			</div>
		</div>
	</form>#}
{% endif %}
