<div class="mini-panel">
	<div class="inner">
	<h3>Help us Improve phpBB</h3>
	<ul class="menu">
		<li><a href="{{ BUGS_PHPBB }}">Bug Tracker</a></li>
		<li><a href="{{ SECURITY }}">Security Tracker</a></li>
		<li class="last"><a href="{{ INCIDENTS }}">Incident Tracker</a></li>
	</ul>
	</div>
</div>
