<div class="mini-panel sections">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h3><a href="{{ mods_path }}">Modifications</a></h3>
	<ul class="menu">
		<li><a href="{{ mods_db_path }}">Modifications Database</a></li>
		<li><a href="{U_MODS_POLICY}">Modifications Database Policies</a></li>
		<li><a href="{U_FORUM_MODS_30X}">3.0.x Modification Forums</a></li>
		<li><a href="{U_MODS_MODX}">MODX Resource Centre</a></li>
		<li class="last"><a href="{U_KB}">Knowledge Base</a></li>
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
