{% if CARBON_ADS is defined %}
	<div class="mini-panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>check out our sponsor</h3>
			<ul class="text-links">
				<li class="last">
					<div id="carbonads-container"><div class="carbonad">
						<div id="azcarbon"></div>
						<script type="text/javascript">
						var z = document.createElement("script");
						z.type = "text/javascript";
						z.async = true;
						z.src = ('https:' == document.location.protocol ? 'https' : 'http') + "://engine.carbonads.com/z/13135/azcarbon_2_1_0_HORIZ";
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(z, s);
						</script>
					</div></div>
				</li>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
{% endif %}
