<div class="mini-panel sections">
	<div class="inner">
		<h3>Rules Sections</h3>
		<ul class="menu">
			<li><a href="#discussion-allowed">Issues that may be discussed</a></li>
			<li class="last"><a href="#discussion-disallowed">Issues which may not be discussed</a></li>
		</ul>
	</div>
</div>
