<div class="mini-panel sections">
    <div class="inner"><span class="corners-top"><span></span></span>
        <h3><a href="{{ extensions_path }}">Extensions</a></h3>
        <ul class="menu">
            <li><a href="{{ EXTENSIONS_RULES }}">Extensions Rules and Guidelines</a></li>
            <li><a href="{{ EXTENSIONS_RECOGNISED_DEVELOPER }}">Recognised Extension Developers</a></li>
            <li class="last"><a href="{{ FORUM_EXTENSIONS_31X }}">3.1.x Extensions Forums</a></li>
        </ul>
        <span class="corners-bottom"><span></span></span></div>
</div>
