<div class="mini-panel sections">
	<div class="inner">
		<h3>Policy Sections</h3>
		<ul class="menu">
			<li><a href="#general">General</a></li>
			<li><a href="#php">PHP Files</a></li>
			<li><a href="#templates">Template Files</a></li>
			<li><a href="#migrations">Migrations</a></li>
			<li><a href="#scripts">JavaScript and CSS</a></li>
			<li><a href="#licenses">Licenses</a></li>
			<li class="last"><a href="#packaging">Packaging and Version</a></li>
		</ul>
	</div>
</div>
