{% extends ':base:base.html.twig' %}

{% block title %}Maintenance{% endblock title %}

{% block body %}
<div id="page-body">
	<ul class="linklist navlinks">
		<li><a href="{{ home_path }}">Home</a>
		</li>
	</ul>

	<div id="main">
		<h2 class="imgrep error404">Maintenance Page</h2>
		<div id="main">
			<h3>We are upgrading!</h3>
			<p>We are currently in the process of upgrading phpBB Ideas which unfortunately means it's going to be unavailable for a few days. Please bear with us whilst we do. In the meantime you're welcome to head over to <a href="https://area51.phpbb.com">Area51</a>, the central place for discussion about phpBB development.</p>
		</div>
	</div>

</div>
{% endblock %}
