{% extends ':base:base.html.twig' %}

{% block title %}phpBB &bull; Free and Open Source Forum Software{% endblock %}

{% block header_button %}
<div id="home-dl-link"><a href="{U_DOWNLOADS_HEADER}">Download<span class="version">{30X_PACKAGE_VERSION}</span><span>{30X_PACKAGE_RELEASE_DATE}</span></a></div><div id="home-try-link"><a href="{U_DEMO}">Try our<span class="version">Demo</span></a></div>
{% endblock %}

{% block body %}
<div id="page-body">
<div id="main">
	<h2 class="imgrep error404">Error 404: Not Found</h2>
	<h3>Oopsies&hellip; what you have requested is gone!</h3>
	<p>I&rsquo;m only a computer server and can only give you what I&rsquo;ve got. I&rsquo;ve searched and search and searched, yet there was no document of this name. So as they say&hellip; &ldquo;this page is an ex-parrot&rdquo;, perhaps you should use the <a href="/search/">search</a>?</p>
</div>
<div id="extras">
	<div class="mini-panel sections">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3>You look lost&hellip; have you tried?</h3>
		<ul class="menu">
			<li><a href="/about/">About phpBB, The Team, et cetera</a></li>
			<li><a href="/downloads/">Download phpBB</a></li>
			<li><a href="/customise/db/">Customise your phpBB!</a></li>
			<li><a href="/support/">phpBB Support Links You Can&rsquo;t Live Without</a></li>
			<li><a href="/development/">phpBB Development Page, by Developers for Developers</a></li>
			<li class="last"><a href="/community/">Our Community Forums</a></li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</div>
</div>
{% endblock %}
